/* Creacion de un mixi es un punto */
footer {
  padding: 10px 10px 0 10px;
  background-color: #050848;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #ffff;
}
.jumbotron {
  background-color: #050848;
  color: #0000;
  margin-top: 60px;
  margin-bottom: 0px;
  color: #ffff;
  background-image: url(../images/playas.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.btn-reserva {
  width: 100%;
  background-color: #050848;
  border-color: #050848;
}
.btn-mostrar {
  background-color: #050848;
  border-color: #050848;
  width: 100%;
  padding: 10px;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tab-content {
  padding-top: 10px;
}
.carousel-inner {
  width: auto;
  height: auto;
  background-color: #2a798c;
}
