@yellow: #050848;
@black:#0000;
@white:#ffff;
@cadetblue:#2a798c;
/* Creacion de un mixi es un punto */
.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:@yellow;
    .margenes(20px, 0px);
    color: @white;
}
.jumbotron{
    background-color: @yellow;
    color:@black;
    .margenes(60px, 0px);
    color: @white;
    background-image: url(../images/playas.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.btn-reserva{
    width: 100%;
    background-color: @yellow;
    border-color: @yellow;
}
.btn-mostrar{
    background-color: @yellow;
    border-color: @yellow;
    width: 100%;
    padding: 10px;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    .margenes(10px,0px);
}

.tab-content{
    padding-top: 10px;
}

.carousel-inner{
    width: auto;
    height: auto;
    background-color: @cadetblue;
}